body{
	background-color: #ffffff;
}

h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.links{
	text-align: center;

}

.btnn{
	width: 150px;
	background: forestgreen;
}
#editor{
	background-color: #ffffff
}
.divv{
	margin-top: 20px;
	align-items: center;
	border: 1px solid;
	padding: 20px
}
.divv p{
	text-align: center;
}
footer{
	background-color: gray;
	color: white;
	text-align: center;
	padding: 30px;
	margin-top: 30px;
}